// Define your mixins here
@mixin button-styles {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

@mixin input-wrapper-styles {
  border: none;
  outline: none;
  font-size: 16px;
}

@mixin input-styles {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  background-color: lightblue;
  color: black;
}
